.page-title {
	margin-top: 10px;
}

.page-info {
	background-color: #f3f3f3;
	height: 1000px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-right: 10px;

}

.page-subtext {
	padding-top: 10px;
}